{% extends "layout.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

    <h2 class="greetings">Bem-vindo!</h2>
    <p class="greetings">Página para visualizar os agendamentos!</p>

    <div class="form-filter_control">
        <form method="GET" action="/schedules" class="form-filter">
            <input type="date" name="date" placeholder="Data" value="{{ request.args.get('date', '') }}">
            <input type="text" name="client" placeholder="Cliente" value="{{ request.args.get('client', '') }}">
            <input type="text" name="service" placeholder="Serviço" value="{{ request.args.get('service', '') }}">
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <div class="card-wrapper">
        {% for schedule in schedules %}
            <div class="card">
                <section>
                    <h2>Cliente: {{ schedule.client }}</h2>
                    <h2>Agendamento: {{ schedule.service }}</h2>
                    <h3>Data: {{ schedule.schedule_date.strftime('%d/%m/%Y') }}</h3>
                    <h3>Horário: {{ schedule.schedule_time }}</h3>
                </section>
                <section class="card_buttons">
                    <a href="/schedules/update/{{ schedule.id }}">
                        <button class="button warning">Atualizar</button>
                    </a>
                    <form method="POST" action="/schedules/delete/{{ schedule.id }}" style="display:inline;">
                        <input type="hidden" name="id">
                        <button class="button danger" type="submit">Excluir</button>
                    </form>
                </section>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
